body{
    background-color: black;
}
.carousel-inner image
{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.carousel-control-next, .carousel-control-prev {
    width: 10%;
}
h1 {
    text-align: center;
    font-size: 32;
    color: white;
    font: bold;
  }